language: node_js
node_js:
  - "5"
  - "5.1"
  - "4"
  - "4.2"
  - "4.1"
  - "4.0"
  - "0.12"
  - "0.11"
  - "0.10"
  - "0.8"
  - "iojs"
compiler: clang-3.6
env:
  - CXX=clang-3.6
addons:
apt:
sources:
 - llvm-toolchain-precise-3.6
 - ubuntu-toolchain-r-test
 packages:
 - clang-3.6
 - g++-4.8